h1 {
    color: #2d754e;
    text-align: center;
    font-family: italiana;
    font-size: 100px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
    im
    }

h2 {
    color: #000000;
    text-align: center;
    font-size: 30px;
    padding: 1px;
    font-family: roboto;
    margin-top: 0px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    flex: 1;
  }

h3 {
    margin-top: 35px;
    color: #2d754e;
    font-weight: bold;
    font-family: roboto;
}

input[type="text"] {
    width: 15%;
    height: 30px;
    margin-top: 20px;
  }
  
  input[type="submit"] {
    width: 15%;
    height: 35px;
    color: black;
    background-color: #cec7c7;
  }

.boxes {
    box-sizing: content-box;
    width: 100%;
    height: fit-content; 
    margin: 10px 10px 10px 10px;
    margin-top: 12px;
    background: #e0dbdb;
    padding: 30px;
    display: grid;
    justify-self: stretch;
    grid-template-columns: 10fr 10fr 10fr 10fr;
    text-align: center;
    text-transform: capitalize; 
    font-size: large;
}

.insulinRatioInfo {
    margin-top: 40px;
    margin-bottom: 40px;
}

.insulinRatioCalculator {
    margin-top: 40px;
    margin-bottom: 40px;
}

#units {
    font-size: large;
    color: #0546ed;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: large;
}

.color1 {
    color: black;
  }
  
  .color2 {
    color: blue;
  }
  
  .color3 {
    color: red;
  }
  
.tips {
    margin-top: 40px;
    margin-bottom: 40px;
}

input[id=insulinRatioInput] {
    width: 18%;
}