
h1 {
    color: #2d754e;
    text-align: center;
    font-family: arial, sans-serif;
    font-size: 100px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1px;
    }

h2 {
    color: #000000;
    text-align: center;
    font-size: 30px;
    padding: 1px;
    font-family: arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 35px;
    color: #2d754e;
    font-weight: bold;
    font-family: arial, sans-serif;
}

input[type="text"] {
    width: 15%;
    height: 30px;
  }
  
  input[type="submit"] {
    width: 20%;
    height: 35px;
    color: black;
    background-color: #cec7c7;
  }

.boxes {
    box-sizing: content-box;
    width: 100%;
    height: fit-content; 
    margin: 10px 10px 10px 10px;
    margin-top: 12px;
    background: #e0dbdb;
    padding: 30px;
    display: grid;
    justify-self: stretch;
    grid-template-columns: 10fr 10fr 10fr 10fr;
    text-align: center;
    text-transform: capitalize; 
    font-size: large;
}

.insulinRatio {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #e0dbdb
}

.ratioInput {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #e0dbdb
}

#units {
    font-size: large;
    color: #000000;
    font-weight: bold;
}

.tips {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #e0dbdb
}